
}
.anh{
    text-align: left;
}
.thongtin{
    width: 100%;
    padding-right: 10px;
    text-align:right;
    margin-top: 0.1;
}
.muc1{
    color:red;
    font-size: xx-large;
}
.muc2{
    color: red;
    font-size: xx-large;
}
.muc3{
    color: red;
    font-size: xx-large;
}
.muc4{
    color: red;
    font-size: xx-large;
}
.muc5{
    color: red;
    font-size: xx-large;
}
.muc6{
    color: red;
    font-size: xx-large;
}
.font{
    width: 60%;
    text-align: center;
    margin-top: 0.25px;

}