body{
    background-color: #8CBDE1;
}
*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Arial',sans-serif;
    list-style:none;
}
.tittle-top{
    position: absolute;
    color:white;
    z-index:2;
    margin:20px 5px;
}
.img-top img{
    z-index:1;
    width:100%;
    height:350px;
    border:7px solid white ;
}
.full-conttent-text{
    background-color: white;
    margin-top:20px;
}
.full-content-main{
    padding:5px 30px;
    background-color: #a3c9e5;
    margin:20px 5px;
    border:7px solid white ;
}
p{
    color: #000000;
    font-size:12px;
}
.title-left-content,.title-right-content-1,.title-right-content-2{
    font-size:21px;
    color: #1D5174;
}
.title-content{
    color: #0000FF;
    font-size:14px;
    font-weight:bold;

}
.left-content{
    background-color: #AFD3EB;
    margin-top:20px;
    border:7px solid white ;
}
.right-content-1,.right-content-2{
    text-align: right;
    background-color: #AFD3EB;
    margin-top:20px;
    border:7px solid white ;
}

li{
    font-family: 'Arial',sans-serif;
    color: #1779CA;
    font-size:13px;
    font-weight:bold;
}
.button{
    margin-top:10px;
}
