.labs7{
    width:501px;
    height: 370px;
    margin-left: 518px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}
.btn-success{
    margin-left: ;
    width:200px;
    height: 50px;
    font-size:20px;
    margin:0 143px 0 135px;

}
